body {
    font-family: ui-sans-serif, system-ui, sans-serif;
  }


  #color-wheel {
    width: 50vmin;
    height: 50vmin;
    background: radial-gradient(white, transparent 80%),
                conic-gradient(#e43f00, #fae410, #55cc3b, #09adff, #6b0efd, #e70d86, #e43f00);
    border-radius: 50%;
}

.mainContainer {
    margin: auto;
    width: 50%;
    /*border: 1px solid black;*/
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    /* change to 100vh to center it*/
}

.bigHeader { 
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.colorWheel { 
    padding: 10px;
}

.chosenColor {
    text-align: center;
    height: 2em;
    padding: 10px;
}

.resultingColorSchemes { 
    text-align: left;
    margin-left: 10px;
    overflow: hidden;
    padding: 10px;
}

.colorScheme { 
  float:left;
  width: 33%;
  text-align: center;
}

.itemsHeader { 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.clothingItem{
  display: inline-block;
  color: black;
  padding: 14px;
  text-decoration: none;
}

div.scrollMenu {
  overflow: auto;
  white-space: nowrap;
  margin: auto;
  width: 100%;
  /*border: 1px solid black;*/
}


/*#color-wheel {
    width: 50vmin;
    height: 50vmin;
    background: conic-gradient(from 30deg,hsl(30, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 60deg,hsl(60, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 90deg,hsl(90, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 120deg,hsl(120, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 150deg,hsl(150, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 180deg,hsl(180, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 210deg,hsl(210, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 240deg,hsl(240, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 270deg,hsl(270, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 300deg,hsl(300, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 330deg,hsl(330, 100%, 40%) 30deg,#0000 30.1deg),
                conic-gradient(from 360deg,hsl(360, 100%, 40%) 30deg,#0000 30.1deg);
                -webkit-mask:
                radial-gradient(farthest-side,
                rgba(0,0,0,0.2) 0 20%,
                rgba(0,0,0,0.4) 0 40%,
                rgba(0,0,0,0.6) 0 60%,
                rgba(0,0,0,0.8) 0 80%,
                rgba(0,0,0,1) 0 100%);
    border-radius: 50%;
}*/